.footer {
  color: rgba(255, 193, 155, 0.7);
  background-color: #000;

  &__container {
    padding: 20px 0;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 500px) {
      flex-direction: column;
      row-gap: 20px;
    }
  }
}

.github {
  &__link {
    transition: all 1s;

    &:hover {
      color: rgba(255, 163, 120, 0.7) !important;
    }
  }
}
