.footer {
  color: #ffc19b;
  background-color: #7fa8ff;

  &__container {
    padding: 20px 0;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.github {
  &__link {
    transition: all 1s;

    &:hover {
      color: #ffa378 !important;
    }
  }
}
